name: MLOps CI/CD Pipeline

on:
  push: 
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov
          pip install -e .

      - name: Prepare data
        run: |
          python src/data/prepare_data.py
      
      - name: Run tests
        run: |
          PYTHONPATH=. pytest tests/ -v --cov=src --cov-report=xml
      
      - name: Train model
        run: |
          python src/models/train.py

      - name: Evaluate model
        run: |
          python src/models/evaluate.py
      
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.9'
      - name: install listing tools
        run: |
          pip install flake8 black
      
      - name: Run flake8
        run: |
          flake8 src/ --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 src/ --count --max-complexity=10 --max-line-length=127 --statistics
      
      - name: Check code formatting
        run: |
          black --check src/
          

